.container_date{
    background-color: #444c5c;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    width: 30vw;
}
.date_box{
    list-style: none;
    color: #f9f9ff;
    font-size: 30px;
    box-sizing: border-box;
    margin-left: 0;
}
.date_box li{
    margin-bottom: 20px;
}