.forecast_container h2{
  text-align: center;
  font-size: 30px;
  color: #444c5c;
}
.date_box{
  margin: 0;
  list-style: none;
  color: #f9f9ff;
  font-size: 30px;
  background-color: #444c5c;
  border-radius: 20px;
  width: 30vw;
  padding: 20px 30px;
}
.date_box li{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: 30px;
}
.date_box p {
  font-size: 20px;
}
.date_box img{
  width: 50px;
}
.text_style{
  padding: 0 40px;
}
