body{
  margin: 0;
  padding: 0;
  color: #444c5c;
}
footer{
  text-align: center;
  font-size: 20px;
  padding-bottom: 30px;
  color: #333;
}
a{
  color: #444c5c;
}
.nav a{
  margin-left: 20px;
  text-decoration: none;
  font-size: 23px;
}
.Mui-checked{
  color: #f9f9ff !important;
}
.Mui-checked+.MuiSwitch-track {
  background-color: #f9f9ff !important;
}
.news_input_search{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #444c5c;
  width: 250px !important;
  outline: none;
  font-size: 18px;
}
.news_container{
  padding: 0 30px;
}
.news_title,
.news_img,
.news_text{
  width: 60%;
  display: block;
  margin: 20px auto;
}
.main_container{
  height: 100vh;
  padding: 0 30px;
}
.main_title{
  display: block;
  text-align: center;
}
.main_logo_img{
  width: 300px;
  height: 300px;
}